#parse("/velocity/head.vm")
#@mainLayout()
<!-- Page Header -->
<header>
    <div id="headerLeft">
        <a href="/">Resmodus</a>
    </div>
    <div id="headerRight">
        login stuff goes here
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="hostHomeContainer">
        <!-- A form for the user to create an event (and set properties) -->
        <form name="creatEvent" action="/event/host/code" method="post">
            <input type="text" id="eventTitle" name="eventTitle" placeholder="Event Title">
            <textarea id="eventDescription" name="eventDescription" placeholder="Event Description"></textarea>
            <select id="eventType" name="eventType">
                <option value="lecture">Lecture</option>
                <option value="seminar">Seminar</option>
                <option value="conference">Conference</option>
                <option value="workshop">Workshop</option>
                <option value="other">Other</option>
            </select>
            <select id="eventTemplate" name="eventTemplate">
        #if ($templateCount>0)
            #foreach ($i in $templateCounts)
                <option value=$templates.get($i).getTemplateCode()>$templates.get($i).getTemplateName()</option>
            #end
        #end
                <option value="noTemplate">Do not use a template</option>
            </select>
            <!-- 
            <label for="startTime">Start Time</label>
            <input type="time" id="startTime" name="startTime">
            <label for="endTime">End Time</label>
            <input type="time" id="endTime" name="endTime">
             -->
            <!-- Label to hold error messages -->
            #if ($errorMessageCreateEvent)
            <label id="formErrorMessage">$errorMessageCreateEvent</label>
            #end
            <input id="hostCodeContinue" type="submit" value="Submit">
        </form>
    </div>
</div>
#end