#parse("/velocity/head.vm")
#@mainLayout()
<form name="hostCodeLogin" action="/host/home" method="get">
    <input type="text" id="hostCode" name="hostCode" placeholder="Enter your code">
    <input type="submit" value="Submit">
</form>

<br>
<br>

<form name="hostRegister" action="/host/get-code" method="post">
    <input type="text" id="hostFName" name="hostFName" placeholder="First Name">
    <input type="text" id="hostLName" name="hostLName" placeholder="Second Name">
    <input type="text" id="hostEmail" name="hostEmail" placeholder="Email">
    <input type="submit" value="Submit">
</form>
#end