#parse("/velocity/head.vm")
#@mainLayout()
<!-- Main page header -->
<header>
    <div id="headerLeft">
        Resmodus
    </div>
    <div id="headerRight">
        <a href="/host/home">Home</a>
        <a href="/">Logout</a>
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="hostHomeContainer">
        <!-- Basic form - only template name needed, error messages and submit button -->
        <form id="landingSubContainer" name="createEmptyTemplate" action="/host/templates/new" method="post">
            <input type="text" id="templateName" name="templateName" placeholder="Template Name">
            #if($errorMessageCreateEmptyTemplate)
                <label id="formErrorMessage">$errorMessageCreateEmptyTemplate</label>
            #end
            <input id="landingJoinButton" type="submit" value="Submit">
        </form>
    </div>
</div>
#end