#parse("/velocity/head.vm")
#@mainLayout()
<form>
    <input type="text" id="hostCode" name="hostCode" placeholder="Enter your code">
    <input type="submit" value="Submit">
</form>

<form>
    <input type="text" id="hostName" name="hostName" placeholder="Your Name">
    <input type="text" id="hostEmail" name="hostEmail" placeholder="Email">
    <input type="submit" value="Submit">
</form>
#end