#parse("/velocity/head.vm")
#@mainLayout()
<!-- Main page header -->
<header>
    <div id="headerLeft">
        <a href="/">Resmodus</a>
    </div>
    <div id="headerRight">
        login stuff goes here
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="hostHomeContainer">
        <!-- Basic form - only template name needed, error messages and submit button -->
        <form id="landingSubContainer" name="createEmptyTemplate" action="/host/templates/new" method="post">
            <input type="text" id="templateName" name="templateName" placeholder="Template Name">
            <label id="formErrorMessage">$errorMessageCreateEmptyTemplate</label>
            <input id="hostCodeContinue" type="submit" value="Submit">
        </form>
    </div>
</div>
#end