#parse("/velocity/head.vm")
#@mainLayout()
<header>
    <div id="headerLeft">
        <a href="/">Resmodus</a>
    </div>
    <div id="headerRight">
        login stuff goes here
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="hostHomeContainer">
        <form>
            <input type="text" id="templateName" name="templateName" placeholder="Template Name">
            <label id="formErrorMessage">Error Message</label>
            <input id="hostCodeContinue" type="submit" value="Submit">
        </form>
    </div>
</div>
#end