#parse("/velocity/head.vm")
#@mainLayout()
<!-- Main page header -->
<header>
    <div id="headerLeft">
        <a href="/">Resmodus</a>
    </div>
    <div id="headerRight">
        login stuff goes here
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="mainFormSection">
        <div id="mainForm">
            <form action="" method="post">
                <h1>$template.getTemplateName()</h1>
                <label id="formErrorMessage">$errorMessageCreateTemplate</label>
                <!-- Space for error messages -->
                <div class="templateControlsSection">
                    <!-- Buttons to add new sections -->
                    <input
                        type="submit"
                        id="submitButtonTemplate"
                        value="Save"
                        formaction="/host/templates/edit/code"
                        method="post">
                    <a href="#">Delete</a>

                    <a href="#">Back</a>
                </div>
                <div id="feedbackFormMain"> <!-- Section to hold the key elements of template creation form -->
                    <input class="formInput" name="templateCode" type="hidden" value="$template.getTemplateCode()">
                    #if($template.getComponents().size() == 0)
                        <div class="feedbackElementEmpty">
                            <h2>There are no elements in the current template - use the buttons below to add some.</h2>
                        </div>
                    #end
                    #foreach($component in $template.getComponents())
                        #if($component.getType() == "question") ## component is of type question 
                        <div class="feedbackElement">
                            <h3>
                                Question
                            </h3>
                            <!-- Textarea -->
                            <input class="formInput" type="text" placeholder="Enter Prompt" value="$component.getPrompt()">
                            <input class="formInput" type="hidden" value="$component.getType()">
                            <!-- <textarea id="feedbackData" name="feedbackData" placeholder="Feedback goes here."></textarea> -->
                        </div>
                        <button class="feedbackDelButton" name="component_id" value ="$component.getId()" formaction="/host/templates/edit/code/delete-template-component"><img src="/images/delete-icon.png"/></button>
                        <!-- feedbackElementFooter will contain extra properties to be set -->
                        <div class="feedbackElementFooter">
                            <input type="checkbox" id="consider1" name="consider1" value="Consider">
                            <label for="consider1">
                                Consider in sentiment analysis</label><br>
                            <label for="rating1">Sentiment Influence (1-5):</label>
                            <input type="number" id="rating1" name="rating1" min="1" max="5"><br>
                        </div>

                        #elseif($component.getType() == "checkbox") ## component is of type checkbox 
                        <div class="feedbackElement">
                            <h3>
                                Checkbox
                            </h3>
                            <input class="formInput" type="text" placeholder="Enter Prompt" value="$component.getPrompt()">
                            <input class="formInput" type="hidden" value="$component.getType()">
                            <!-- Radio buttons section -->
                            <!-- Radio buttons are just 5 text boxes -->
                            #foreach($option in $component.getOptions())
                                <div class="formInputBulletIcon">&bull;</div>
                                <input class="formInputBullet" type="text" placeholder="Enter Text" value="$option">
                                <label class="formInputBulletLabel" for="bulletrating1">Positivity (-3 to 3):</label>
                                <input
                                    class="formInputBulletRating"
                                    type="number"
                                    id="bulletrating1"
                                    name="bulletrating1"
                                    min="-3"
                                    max="3"><br>
                                <div class="formInputBulletIcon">&bull;</div>
                            #end
                        </div>
                        <button class="feedbackDelButton" name="component_id" value ="$component.getId()" formaction="/host/templates/edit/code/delete-template-component"><img src="/images/delete-icon.png"/></button>
                        <div class="feedbackElementFooter">
                            <input type="checkbox" id="consider3" name="consider3" value="Consider">
                            <label for="consider3">
                                Consider in sentiment analysis</label><br>
                            <label for="rating3">Sentiment Influence (1-5):</label>
                            <input type="number" id="rating3" name="rating3" min="1" max="5"><br>
                            <input type="checkbox" id="highlight3" name="highlight3" value="Consider">
                            <label for="highlight3">
                                Highlight?</label>
                        </div>

                        #elseif($component.getType() == "radio") ## component is of type radio 
                        <div class="feedbackElement">
                            <h3>
                                Radio
                            </h3>
                            <input class="formInput" type="text" placeholder="Enter Prompt" value="$component.getPrompt()">
                            <input class="formInput" type="hidden" value="$component.getType()">
                            #foreach($option in $component.getOptions())
                                <div class="formInputBulletIcon">&bull;</div>
                                <input class="formInputBullet" type="text" placeholder="Enter Text" value="option">
                                <label class="formInputBulletLabel" for="bulletrating2">Positivity (-3 to 3):</label>
                                <input
                                    class="formInputBulletRating"
                                    type="number"
                                    id="bulletrating2"
                                    name="bulletrating2"
                                    min="-3"
                                    max="3"><br>
                            #end
                        </div>
                        <button class="feedbackDelButton" name="component_id" value ="$component.getId()" formaction="/host/templates/edit/code/delete-template-component"><img src="/images/delete-icon.png"/></button>
                        <div class="feedbackElementFooter">
                            <input type="checkbox" id="consider2" name="consider2" value="Consider">
                            <label for="consider2">
                                Consider in sentiment analysis</label><br>
                            <label for="rating2">Sentiment Influence (1-5):</label>
                            <input type="number" id="rating2" name="rating2" min="1" max="5"><br>
                        </div>

                        #end
                    #end
                </div>
            </form>
            <div class="templateAddControlsSection">
                <!-- Buttons to add new sections -->

                <form name="" method="post" action="/host/templates/edit/code/create-empty-component">
                    <input type="hidden" name="templateCode" value=$template.getTemplateCode()>
                    <button name="componentType" value="question">Add Question</button>
                </form>

                <form name="" method="post" action="/host/templates/edit/code/create-empty-component">
                    <input type="hidden" name="templateCode" value=$template.getTemplateCode()>
                    <button name="componentType" value="radio">Add Radio Buttons</button>
                </form>

                <form name="" method="post" action="/host/templates/edit/code/create-empty-component">
                    <input type="hidden" name="templateCode" value=$template.getTemplateCode()>
                    <button name="componentType" value="checkbox">Add Tickboxes</button>
                </form>

                <!-- <a href="#">Add Emojis</a> -->
                <a href="#">Add Radio Buttons</a>
                <a href="#">Add Tickboxes</a>
                -->
            </div>           
        </div>
    </div>
</div>
#end