#parse("/velocity/head.vm")
#@mainLayout()
<!-- Main page header -->
<header>
    <div id="headerLeft">
        Resmodus
    </div>
    <div id="headerRight">
        <a href="/host/home">Home</a>
        <a href="/">Logout</a>
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="mainFormSection">
        <div id="mainForm">
            <form action="/host/templates/edit/code/save" method="post">
                <h1>$template.getTemplateName()</h1>
                #if ($errorMessageCreateTemplate)
                <label id="formErrorMessage">$errorMessageCreateTemplate</label>
                #end
                <!-- Space for error messages -->
                <div id="feedbackFormMain"> <!-- Section to hold the key elements of template creation form -->
                    <input class="formInput" name="templateCode" type="hidden" value="${template.getTemplateCode()}">
                    #if($template.getComponents().size() == 0)
                        <div class="feedbackElementEmpty">
                            <h2>There are no elements in the current template - use the buttons below to add some.</h2>
                        </div>
                    #end

                    #foreach($component in $template.getComponents())
                        #if($component.getType() == "question") ## component is of type question
                        <div class="feedbackElement">
                            <h3>
                                Question
                            </h3>
                            <!-- Textarea -->
                            #if($component.isEmptyComponent())
                                <input class="formInput" type="text" name="component[${component.getID()}][prompt]" placeholder="Enter Prompt">
                            #else 
                                <input class="formInput" type="text" name="component[${component.getID()}][prompt]" value="${component.getPrompt()}">
                            #end
                            <input class="formInput" type="hidden" name="component[${component.getID()}][name]" value="${component.getName()}">
                            <input class="formInput" type="hidden" name="component[${component.getID()}][component_id]" value="${component.getID()}">
                            <input class="formInput" type="hidden" name="component[${component.getID()}][type]" value="${component.getType()}">
                            <!-- <textarea id="feedbackData" name="feedbackData" placeholder="Feedback goes here."></textarea> -->
                        </div>
                        <button class="feedbackDelButton" name="component_id" value ="$component.getID()" formaction="/host/templates/edit/code/delete-template-component"><img src="/images/delete-icon.png"/></button>
                        <!-- feedbackElementFooter will contain extra properties to be set -->

                        #elseif($component.getType() == "checkbox" || $component.getType() == "radio" ) ## component is of type checkbox
                        <div class="feedbackElement">
                            <h3>
                            #if($component.getType() == "checkbox")
                                checkbox
                            #else
                                radio
                            #end
                            </h3>
                            #if($component.isEmptyComponent())
                                <input class="formInput" type="text" name="component[${component.getID()}][prompt]" placeholder="Enter Prompt">
                            #else 
                                <input class="formInput" type="text" name="component[${component.getID()}][prompt]" value="${component.getPrompt()}">
                            #end
                            <!-- Radio buttons section -->
                            <!-- Radio buttons are just 5 text boxes -->
                            #foreach($option in $component.getOptions())
                                #if ($option)
                                    <div class="formInputBulletIcon">&bull;</div>
                                    <input class="formInputBullet" type="text" name="options-${component.getID()}[]" placeholder="Enter an option" value="${option}">
                                    <br>
                                    <label class="formInputBulletLabel" for="options-pos-${component.getID()}[]">Positivity (-3 to 3):</label> 
                                    #if (${component.getTc_options_pos()})
                                        #set( $index = $velocityCount - 1 )
                                        #set( $pos_value = ${component.getTc_options_pos().get(${index})} - 4 )
                                        <input class="formInputBulletRating" type="number" id="bulletrating1" name="options-pos-${component.getID()}[]" min="-3" max="3" value="${pos_value}"><br>
                                    #else
                                        <input class="formInputBulletRating" type="number" id="bulletrating1" name="options-pos-${component.getID()}[]" min="-3" max="3" value="0"><br>
                                    #end
                                #else 
                                    <div class="formInputBulletIcon">&bull;</div>
                                    <input class="formInputBullet" type="text" name="options-${component.getID()}[]" placeholder="Enter an option">
                                    <br>
                                    <label class="formInputBulletLabel" for="options-pos-${component.getID()}[]">Positivity (-3 to 3):</label> 
                                    <!-- LINK BELOW INPUT TO BACKEND! -->
                                    <input class="formInputBulletRating" type="number" id="bulletrating1" name="options-pos-${component.getID()}[]" min="-3" max="3" value="0"><br>
                                #end
                            #end
                            <input class="formInput" type="hidden" name="component[${component.getID()}][name]" value="${component.getName()}">
                            <input class="formInput" type="hidden" name="component[${component.getID()}][component_id]" value="${component.getID()}">
                            <input class="formInput" type="hidden" name="component[${component.getID()}][type]" value="${component.getType()}">
                        </div>
                        <button class="feedbackDelButton" name="component_id" value ="$component.getId()" formaction="/host/templates/edit/code/delete-template-component"><img src="/images/delete-icon.png"/></button>

                    #end ## end if statemenet for component types

                    <div class="feedbackElementFooter">
                        #if ($component.component_for_sentiment())
                            <input type="checkbox" id="component[${component.getID()}][consider]" name="component[${component.getID()}][consider]" value="consider" checked>
                            <label for="component[${component.getID()}][consider]">
                                Consider in sentiment analysis
                            </label><br>
                        #else 
                            <input type="checkbox" id="component[${component.getID()}][consider]" name="component[${component.getID()}][consider]" value="consider">
                            <label for="component[${component.getID()}][consider]">
                                Consider in sentiment analysis
                            </label><br>
                        #end 

                        <!-- todo: map value to component attribute -->
                        #if ($component.getTc_sentiment_weight())
                            <label for="component[${component.getID()}][weight]">Sentiment Influence (1-5):</label>
                            <input type="number" id="component[${component.getID()}][weight]" name="component[${component.getID()}][weight]" min="1" max="5" value="${component.getTc_sentiment_weight()}"><br>
                        #else 
                            <label for="component[${component.getID()}][weight]">Sentiment Influence (1-5):</label>
                            <input type="number" id="component[${component.getID()}][weight]" name="component[${component.getID()}][weight]" min="1" max="5" value="5"><br>
                        #end
                    </div>

                #end ## end for loop
                </div>

                <br>

                <div class="templateControlsSection">
                    <!-- Buttons to add save and delete -->
                    <input
                        type="submit" 
                        id="submitButtonTemplate" 
                        value="Save" 
                        method="post">
                    <!-- 
                    <input
                        type="submit"
                        id="submitButtonTemplate"
                        value="Delete"
                        formaction="/host/templates/edit/code/delete-template"
                        method="post">
                    -->

                </div>

                <br>
            </form>
            <div class="templateAddControlsSection">
                <!-- Buttons to add new sections -->

                <form name="" method="post" action="/host/templates/edit/code/create-empty-component">
                    <input type="hidden" name="templateCode" value=$template.getTemplateCode()>
                    <button name="componentType" value="question">Add Question</button>
                </form>

                <form name="" method="post" action="/host/templates/edit/code/create-empty-component">
                    <input type="hidden" name="templateCode" value=$template.getTemplateCode()>
                    <button name="componentType" value="radio">Add Radio Buttons</button>
                </form>

                <form name="" method="post" action="/host/templates/edit/code/create-empty-component">
                    <input type="hidden" name="templateCode" value=$template.getTemplateCode()>
                    <button name="componentType" value="checkbox">Add Tickboxes</button>
                </form>

                <!-- <a href="#">Add Emojis</a>
                <a href="#">Add Radio Buttons</a>
                <a href="#">Add Tickboxes</a>
                -->
            </div>           
        </div>
    </div>
</div>
#end