#parse("/velocity/head.vm")
#@mainLayout()
<div id="hostCodeContainer">
    <h2>Here is your code:</h2>
    <h1>$hostCode</h1>
    <p>(Please make a note of it!</p>
    <a id="hostCodeContinue" href="/host/home/?hostCode="$hostCode>Continue</a>
</div>
#end