#macro(mainLayout)
<html>
    <head>
        <!-- HTML header -->
        <title>Resmodus</title>
        <link rel="stylesheet" href="/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <!-- Main body content will go here -->
        $bodyContent
    </body>
</html>
#end