#parse("/velocity/head.vm")
#@mainLayout()
<header>
    <div id="headerLeft">
        Resmodus
    </div>
    <div id="headerRight">
        <a href="/host/home">Home</a>
        <a href="/">Logout</a>
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="hostHomeContainer">
        <h1>Host Homepage</h1>
        <h2>Hello! $fName $lName</h2> <!-- Host's first and last name -->
        <a id="hostCodeContinue" href="/host/create-event">Create a New Event</a>
        <a id="hostCodeContinue" href="/host/templates">My Templates</a>
    </div>
</div>
#end