#parse("/velocity/head.vm")
#@mainLayout()
<header>
    <div id="headerLeft">
        <a href="/">Resmodus</a>
    </div>
    <div id="headerRight">
        login stuff goes here
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="hostHomeContainer">
        <h1>Host Homepage</h1>
        <h2>Hello! $fName $lName</h2>
        <a id="hostCodeContinue" href="/host/create-event">Create a New Event</a>
        <a id="hostCodeContinue" href="/host/templates">My Templates</a>
    </div>
</div>
#end