#parse("/velocity/head.vm")
#@mainLayout()
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h1>Event Title</h1>
    <div id="hostGrid">
        <div>
            <h1>Event Code: 12345</h1>
        </div>
        <div class="hostGridPlaceholder">
            graph goes here
        </div>
        <div class="hostGridPlaceholder">
            graph goes here
        </div>
        <div class="hostGridPlaceholder">
            graph goes here
        </div>
        <div class="hostGridPlaceholder">
            graph goes here
        </div>
        <div class="hostGridPlaceholder">
            graph goes here
        </div>
    </div>
</div>
<header>
    <div id="headerLeft">
        Resmodus
    </div>
    <div id="headerRight">
        login stuff goes here
    </div>
</header>
<div id="mainHostEventBodyContainer">
    <div id="mainFormSection">
        <h1 id="formSectionTitle">Feedback</h1>
        <span id="exitButtonMobile"><img src="/images/exit-icon.png"></span>
        <span id="infoButtonMobile" onclick="openNav()"><img src="/images/analytics-icon.png"></span>

        <div class="feedbackBox">
            <h1>User 123</h1>
            <p>
                <strong>How are you finding the meeting?:
                </strong>it's ok lol
            </p>
            <p>
                <strong>Please rate how you're feeling:</strong>
                😀
            </p>
            <h2>Sentiment: 😀</h2>
            <span>Submitted at 10:10 AM</span>
        </div>

        <div class="feedbackBox">
            <h1>User 123</h1>
            <p>
                <strong>How are you finding the meeting?:
                </strong>it's ok lol
            </p>
            <p>
                <strong>Please rate how you're feeling:</strong>
                😀
            </p>
            <h2>Sentiment: 😀</h2>
            <span>Submitted at 10:10 AM</span>
        </div>

        <div class="feedbackBox">
            <h1>User 123</h1>
            <p>
                <strong>How are you finding the meeting?:
                </strong>it's ok lol
            </p>
            <p>
                <strong>Please rate how you're feeling:</strong>
                😀
            </p>
            <h2>Sentiment: 😀</h2>
            <span>Submitted at 10:10 AM</span>
        </div>

        <div class="feedbackBox">
            <h1>User 123</h1>
            <p>
                <strong>How are you finding the meeting?:
                </strong>it's ok lol
            </p>
            <p>
                <strong>Please rate how you're feeling:</strong>
                😀
            </p>
            <h2>Sentiment: 😀</h2>
            <span>Submitted at 10:10 AM</span>
        </div>
    </div>
    <div id="infoSection">
        <h1>Event Title</h1>
        <div id="hostGrid">
            <div>
                <h1>Event Code: 12345</h1>
            </div>
            <div class="hostGridPlaceholder">
                graph goes here
            </div>
            <div class="hostGridPlaceholder">
                graph goes here
            </div>
            <div class="hostGridPlaceholder">
                graph goes here
            </div>
            <div class="hostGridPlaceholder">
                graph goes here
            </div>
            <div class="hostGridPlaceholder">
                graph goes here
            </div>
        </div>
    </div>
</div>
#end