#parse("/velocity/head.vm")
#@mainLayout()
<div id="landingMain">
    <div id="landingContainer">
        <h1>Resmodus</h1>
        <div id="landingJoinContainer">
            <form name="joinInfo" action="/event/join/code" method="get">
                <!-- TODO: CREATE SMALLER IDs for first/last name boxes -->
                <input type="text" id="" name="participantFName" placeholder="First Name">
                <input type="text" id="" name="participantLName" placeholder="Last Name">
                <input type="text" id="eventCode" name="eventCode" placeholder="Code">
                <input type="submit" value="Join Event" id="landingJoinButton">
            </form>
            <a href="/host/login" id="landingHostButton">Host Event</a>
        </div>
    </div>
</div>
#end