#parse("/velocity/head.vm")
#@mainLayout()
<!-- Mobile side menu - same content as desktop version further below -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h1>$eventTitle</h1>
    <p>
        $eventDescription
    </p>
</div>
<header>
    <div id="headerLeft">
        Resmodus
    </div>
    <div id="headerRight">
        <a href="/">Logout</a>
    </div>
</header>
<div id="mainBodyContainer">
    <div id="mainFormSection">
        <!-- mobile icons -->
        <span id="exitButtonMobile"><a href="/"><img src="/images/exit-icon.png"></a></span>
        <span id="infoButtonMobile" onclick="openNav()"><img src="/images/info-icon.png"></span>
        <div id="mainForm">

            <!-- Feedback form -->
#if($components.size() != 0)
            <form action="/event/participant/feedback" method="post">
                #foreach($component in $components)
                    #if($component.getType() == "question" && !$component.isEmptyComponent())
                        <h1>$component.getPrompt()</h1>
                        <textarea id="feedbackData" name="feedbackData" placeholder="Feedback goes here."></textarea>
                    #end
                #end
                <h1>Please rate how you're feeling.</h1>
                <!-- the images are radio buttons -->
                <div class="feelingRadioContainer">
                    <div class="feelingRadio">
                        <input type="radio" id="happy" name="feeling" value="happy">
                        <div class="feelingRadioImg happy"></div>
                    </div>
                    <div class="feelingRadio">
                        <input type="radio" id="ok" name="feeling" value="ok">
                        <div class="feelingRadioImg ok"></div>
                    </div>
                    <div class="feelingRadio">
                        <input type="radio" id="sad" name="feeling" value="sad">
                        <div class="feelingRadioImg sad"></div>
                    </div>
                </div>
                #if($errorMessageInParticipantEvent) 
                <label id="formErrorMessage">$errorMessageInParticipantEvent</label>
                #end
                <div id="sumbitButtonContainer">
                    <input type="submit" id="submitButton" value="Submit">
                    <div id="submitAnonymous">
                        <label for="anon"><input type="checkbox" id="anon" name="anon" value="Submit Anonymously">Submit Anonymously</label>
                    </div>
                </div>
            </form>
#else
                <form action="/event/participant/feedback" method="post">
                <h1>How are you finding the meeting?</h1>
                <textarea id="feedbackData" name="feedbackData" placeholder="Feedback goes here."></textarea>
                <h1>Please rate how you're feeling.</h1>
                <!-- the images are radio buttons -->
                <div class="feelingRadioContainer">
                    <div class="feelingRadio">
                        <input type="radio" id="happy" name="feeling" value="happy">
                        <div class="feelingRadioImg happy"></div>
                    </div>
                    <div class="feelingRadio">
                        <input type="radio" id="ok" name="feeling" value="ok">
                        <div class="feelingRadioImg ok"></div>
                    </div>
                    <div class="feelingRadio">
                        <input type="radio" id="sad" name="feeling" value="sad">
                        <div class="feelingRadioImg sad"></div>
                    </div>
                </div>
                #if($errorMessageInParticipantEvent) 
                <label id="formErrorMessage">$errorMessageInParticipantEvent</label>
                #end
                <div id="sumbitButtonContainer">
                    <input type="submit" id="submitButton" value="Submit">
                    <div id="submitAnonymous">
                        <label for="anon"><input type="checkbox" id="anon" name="anon" value="Submit Anonymously">Submit Anonymously</label>
                    </div>
                </div>
            </form>
#end
        </div>
        <br>
#if($feedbacks)
    #foreach($feedback in $feedbacks)
        #if($componentCounts.size() != 0)
            <div class="feedbackBox">
                #foreach($c in $componentCounts)
                    <p>
                        <strong>$questionComponents.get($c).getPrompt():
                        </strong>$feedback.getResults().get($c)
                    </p>
                #end
                <h2>Sentiment: $feedback.assessSentiment()</h2>
                <span>Submitted at $feedback.getTimestamp().toString()</span>
            </div>
        #else
            <div class="feedbackBox">
                <p>
                    <strong>How are you finding the meeting?:
                    </strong>$feedback.getResults().get(0)
                </p>
                <h2>Sentiment: $feedback.assessSentiment()</h2>
                <span>Submitted at $feedback.getTimestamp().toString()</span>
            </div>
        #end
    #end
#end
    </div>
    <!-- Desktop info section -->
    <div id="infoSection">
        <h1>$eventTitle</h1>
        <p>
            $eventDescription
        </p>
    </div>
</div>
#end