#parse("/velocity/head.vm")
#@mainLayout()

<header>
    <div id="headerLeft">
        <a href="/">Resmodus</a>
    </div>
    <div id="headerRight">
        login stuff goes here
    </div>
</header>
<div id="mainBodyContainerOneCol">
    <div id="mainFormSection">
        <div id="hostHomeContainer">
            <!-- A list for users to select from their templates (or create new) -->
            <h1>My Templates</h1>
            <div id="landingJoinContainer">
                <a href="/host/templates/new" id="landingHostButton">Create New Template</a>
            </div>
            #foreach($template in $hostTemplates)
                <a id="hostCodeContinue" href="/host/templates/edit/code?templateCode=$template.getTemplateCode()">Template: $template.getTemplateName()</a>
            #end
        </div>
    </div>
</div>
#end