* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: hidden;
    scroll-behavior: unset;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #886C91;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    padding-bottom: 20px;
}

p {
    font-size: 0.9em;
    padding-bottom: 15px;
}

header {
    background-color: black;
    width: 100%;
    color: white;
    padding: 10px 20px;
    overflow: auto;
    z-index: 1;
    font-weight: bold;
    font-size: 0.8em;
}

#headerLeft {
    float: left;
}

#headerRight {
    float: right;
}

#mainBodyContainer {
    flex: 1;
    display: grid;
    grid-template-columns: auto 450px;
    overflow: auto;
}

#mainHostEventBodyContainer {
    flex: 1;
    display: grid;
    grid-template-columns: auto 50%;
    overflow: auto;
}

#mainFormSection {
    background-color: #886C91;
    overflow-y: scroll;
    padding: 0 20px;
    position: relative;
}

#mainForm {
    min-height: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
    margin: 40px auto 0;
    border-radius: 40px 40px 0 0;
    box-shadow: 5px 5px 5px #585858;
    border: 1px solid #b7b7b7;
}

#infoSection {
    background-color: #552d62;
    border-left: solid 1px #33143e;
    padding: 40px 20px;
    color: white;
    overflow-y: scroll;
    height: 100%;
}

#infoSection h1 {}

#infoSection p {}

textarea {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
    height: 200px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

.feelingRadioContainer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.feelingRadio {
    display: block;
    float: left;
    font-size: 3.5em;
    position: relative;
    margin: 0 20px;
    padding: 10px;
}

.feelingRadioImg {
    border-radius: 26px;
    transition: background-color .5s;
    padding: 10px;
}

.feelingRadio:hover .feelingRadioImg {
    background-color: #d3d3d3;
}

.feelingRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.feelingRadio input:checked~.feelingRadioImg {
    background-color: #40c256;
}

.feelingRadioImg.happy::after {
    content: "😀";
}

.feelingRadioImg.ok::after {
    content: "😑";
}

.feelingRadioImg.sad::after {
    content: "😢";
}

#sumbitButtonContainer {
    display: inline-block;
    background-color: #886c91;
    padding: 10px 40px;
    border-radius: 40px;
    border: 1px solid #451c52;
    position: relative;
    width: 355px;
    height: 40px;
}

#submitButton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #552d62;
    color: white;
    border: 1px solid #451c52;
    border-radius: 40px;
    padding: 0 40px;
    cursor: pointer;
}

#submitAnonymous {
    position: absolute;
    right: 25px;
    cursor: pointer;
}

#submitAnonymous input {
    margin-right: 5px;
}

#submitAnonymous label {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #552d62;
    border-left: solid 1px #33143e;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 60px 0;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

#exitButtonMobile {
    display: none;
    position: absolute;
    left: 30px;
    top: 20px;
    cursor: pointer;
}

#infoButtonMobile {
    display: none;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

#formSectionTitle {
    text-align: center;
    margin: 20px 0;
}

.feedbackBox {
    max-width: 1000px;
    background-color: white;
    padding: 30px;
    margin: 0 auto 20px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #585858;
    border: 1px solid #b7b7b7;
}

.feedbackBox h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#hostGrid {
    display: grid;
    grid-template-columns: 50% auto;
    border: 1px solid #450b57;
}

#hostGrid>div {
    background-color: #552d62;
    height: 200px;
    border: 1px solid #450b57;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hostGridPlaceholder {
    font-family: cursive;
    color: magenta;
}

#landingMain {
    max-width: 900px;
    padding: 40px 0;
    margin: 0 auto;
    overflow: auto;
}

#landingContainer {
    padding: 60px;
    background-color: #552d62;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #3e3e3e;
    text-align: center;
    color: white;
    margin: 0 20px;
}

#landingJoinContainer {
    background-color: #886c91;
    border-radius: 40px;
}

#landingContainer h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

#landingSubContainer {
    padding: 40px 40px 0 40px;
    background-color: #704d7b;
    border-radius: 40px;
}

#participantFName {
    padding: 10px;
    width: 35%;
}

#participantLName {
    padding: 10px;
    width: 35%;
}

#eventCode {
    padding: 10px;
    width: 25%;
}

#landingJoinButton, #landingHostButton {
    margin: 20px auto;
    display: block;
    background-color: #552d62;
    color: white;
    border-radius: 40px;
    padding: 10px 35px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #451c52;
}

#landingJoinButton {
    width: 75%;
}

#landingHostButton {
    width: 70%;
}

#hostCode {
    padding: 10px;
    width: 100%;
}

#hostFName, #hostLName, #hostEmail {
    padding: 10px;
    width: 90%;
    margin-top: 15px;
}